
<div class="container glyphicon-align-center"style="position:relative;left:60px;min-height:900px">
    
        
            <div class="boxx">
                <img src="~/images/21點index.jpg" />
                <a href="#">馬上玩</a>
            </div>

            <div class="boxx">
                <img src="../images/輪盤.jpg" />
                <a href="#">馬上玩</a>
            </div>

            <div class="boxx">
                <img src="../images/骰子.jpg" />
                <a href="#">馬上玩</a>
            </div>

            <div class="boxx">
                <img src="../images/西洋棋.jpg" />
                <a href="#">馬上玩</a>
            </div>

            <div class="boxx">
                <img src="~/images/gamelist功夫龍.jpg" />
                <a href="/Home/slotGame/">馬上玩</a>
            </div>

            <div class="boxx">
                <img src="../images/麻將.jpg" />
                <a href="#">馬上玩</a>
            </div>
            <div class="boxx">
                <img src="../images/捕魚達人.jpg" />
                <a href="#">馬上玩</a>
            </div>
            <div class="boxx">
                <img src="../images/刮刮樂.jpg" />
                <a href="#">馬上玩</a>
            </div>
            <div class="boxx">
                <img src="../images/象棋.jpg" />
                <a href="#">馬上玩</a>
            </div>


        </div>
 

