
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>loginProvacy</title>
</head>
<body>
    <h2 class="title06">隱私暨會員條款</h2>
    <div class="conWrap1">
        <div class="privacyCon" id="privacyCon">

            <input type=hidden name="PrivacyNum" id="PrivacyNum" value="1" />
            <p>
                <span style="color: #ff0000"><em><strong>本站尊重並保護您的隱私權。在使用本站各項服務之前，請先詳細閱讀以下的說明。填寫虛偽資料，可能會導致我們無法提供諮詢或其他服務，或將影響您的會員資格及其他TPIPAS專業人員權益；視情節輕重，於部分狀況可能須負相關法律責任。</strong></em></span><br />
                &nbsp;
            </p>
            <p>
                &nbsp;
            </p>
            <h1 class="foreword2">
                <span style="color: #000000"><b>臺灣個人資料保護與管理制度（TPIPAS）網站&nbsp;&nbsp; 隱私權聲明暨會員條款</b></span>
            </h1>
            <h4>
                <span style="color: #808080">（維運機構：財團法人資訊工業策進會）</span>
            </h4>
            <div class="title09">
                <div class="title09B">
                    <h2 class="title09C">
                        <b>壹、適用範圍 </b>
                    </h2>
                </div>
            </div>
            <h2>
                &nbsp;
            </h2>
            <div class="conLt5">
                <ul>
                    <li>
                        一、本條款適用於您與網站維運機構間，就下列事項所涉及之您的個人資料蒐集、處理與利用：(1)您向本網站洽辦業務、參與本網站之各項活動（如報名研討會/課程、加入網站會員、訂閱電子報等）；(2)您參與TPIPAS相關活動；或(3)您透過電話、傳真或本網站諮詢服務功能，向本網站提出詢問或建議。
                    </li>
                    <li>
                        二、凡經由本會網站連結至第三方獨立管理、經營之網站，有關個人資料的保護，適用第三方或各該網站的隱私權政策，本會不負任何連帶責任。
                    </li>
                </ul>
            </div>
            <div class="title09">
                <div class="title09B">
                    <h2 class="title09C">
                        <b>貳、個人資料之蒐集、處理及利用 </b>
                    </h2>
                </div>
            </div>
            <div class="conLt5">
                <ul>
                    <li>
                        一、當您向本網站洽辦業務或參與本網站之各項活動，我們將視業務或活動性質請您提供必要的個人資料（可能範圍包括辨識個人類、個人描述類、資格或技術類、受訓紀錄、受僱情形與工作經驗等類別，詳細內容請參考下頁之會員或活動資料欄位），並在該特定目的必要之時、地及對象等範圍內，處理及利用您的個人資料；此外，為提供您良好的服務，我們會在您會員存續期間或法律所允許之期間內留存您的個人資料。非經您書面同意，或有其他合法依據，本網站不會將個人資料用於其他用途。
                    </li>
                    <li>
                        二、如果您使用電話、傳真或本會網站意見信箱與本網站或網站維運機構聯繫時，請您提供正確的電話、傳真號碼或電子信箱地址，作為回覆來詢事項之用。
                    </li>
                    <li>
                        三、您的個人資料在處理過程中，本會將遵守相關之流程及內部作業規範，並依據資訊安全之要求，進行必要之人員控管。
                    </li>
                    <li>
                        四、單純瀏覽本會網站及下載檔案之行為，本會不會蒐集任何與個人身份有關之資訊。
                    </li>
                    <li>
                        五、如您為個人資料管理師、個人資料內評師或個人資料驗證師，或以個人資料管理師、個人資料內評師或個人資料驗證師的身份註冊登錄，或修改您的身份成為以上三種會員之任一類，我們會公告您的姓名及您的TPIPAS證號於網站上。如您不願以上述專業人員身份註冊登錄，而僅註冊成為一般會員時，您可能無法接到或閱覽我們針對上述專業人員所發送或張貼之課程、持續訓練、活動或其他相關訊息；此外，根據規定，您的TPIPAS專業人員資格必須於您登錄後始生效力。
                    </li>
                </ul>
            </div>
            <div class="title09">
                <div class="title09B">
                    <h2 class="title09C">
                        <b>參、與第三人共用個人資料 </b>
                    </h2>
                </div>
            </div>
            <div class="conLt5">
                <ul>
                    <li>
                        一、本網站不會提供、交換、出租或出售任何您的個人資料給他人，但有法律依據或其他合於法令規定之情形者，不在此限。
                    </li>
                    <li>
                        二、前項但書之情形包括不限於：<br />
                        1. 配合司法單位合法的調查。<br />
                        2. 配合主管機關依職權或職務需要之調查或使用（例如審計部或會計師查帳）。<br />
                        3. 基於善意相信揭露您的個人資料為法律所必需。<br />
                        4. 當您在本網站的行為，違反本聲明或可能損害或妨礙本網站即維運機構權益或導致任何人遭受損害時，經本會研析揭露您的個人資料是為了辨識、聯絡或採取法律行動所必要者。<br />
                        5. 基於委外契約關係，本會依約履行提供個人資料之義務。
                    </li>
                    <li>
                        三、本會委託廠商協助蒐集、處理或利用您的個人資料時，將對委外廠商或個人善盡監督管理之責。
                    </li>
                </ul>
            </div>
            <div class="title09">
                <div class="title09B">
                    <h2 class="title09C">
                        <b>肆、cookie 之運用</b>
                    </h2>
                </div>
            </div>
            <div class="conLt5">
                <ul>
                    <li>
                        一、基於網站內部管理之需要及提供最佳個人化服務，本會網站將在您的瀏覽器中寫入 cookies 並讀取記錄瀏覽者的 IP 位址、上網時間以及在各項資訊查閱之次數，進行網站流量和網路行為調查之總量分析，不會對「個別」瀏覽者進行分析。
                    </li>
                    <li>
                        二、若您不願接受 cookie 的寫入，您可將使用中之瀏覽器設定為拒絕cookie 的寫入，但也因此會使網站某些功能無法正常執行。
                    </li>
                </ul>
            </div>
            <div class="title09">
                <div class="title09B">
                    <h2 class="title09C">
                        <b>伍、伺服器紀錄</b>
                    </h2>
                </div>
            </div>
            <div class="para03">
                當您透過瀏覽器、應用程式或其他用戶端使用本會網站時，我們的伺服器會自動記錄特定的技術性資訊。這些伺服器紀錄可能包含您的網頁要求、網際網路通訊協定位址、瀏覽器類型、瀏覽器語言、送出要求的日期和時間等資訊。此伺服器紀錄僅作為伺服器管理的參考，本會不會利用此伺服器紀錄對「個別」瀏覽者進行分析。
            </div>
            <div class="para03">
                &nbsp;
            </div>
            <div class="title09">
                <div class="title09B">
                    <h2 class="title09C">
                        <b>陸、隱私權聲明之修改</b>
                    </h2>
                </div>
            </div>
            <div class="para03">
                本隱私權聲明將適時依據法律修正、相關技術之發展及內部管理制度之調整而配合修改，以落實保障您隱私權及網路安全之初衷。如您不同意修正後之隱私權聲明，您即不能繼續使用本網站所提供之各項會員服務。
            </div>
            <div class="para03">
                &nbsp;
            </div>
            <div class="title09">
                <div class="title09B">
                    <h2 class="title09C">
                        <b>柒、其他事項&nbsp;</b>
                    </h2>
                </div>
            </div>
            <div class="conLt5">
                <ul>
                    <li>
                        一、您可藉著自行登錄本站會員系統，以查詢、閱覽、刪除、複製、補充、更正您的個人資料。如須停止蒐集、處理或利用或有其他疑問或建議，請先參考本站Q&amp;A功能，如仍未能解決您的疑問，請再利用本站諮詢服務功能提出。
                    </li>
                    <li>
                        二、本站以您註冊時所設定之帳號、密碼作為辨識會員的依據，請妥善保管、記憶您的帳號與密碼，並請勿將之交付或告知他人，以保護自身權益。
                    </li>
                    <li>
                        三、您同意不會使用本網站進行任何非法或不當之行為，並保證您所提供之資料為您本人的真實資料，或已得當事人合法授權之資料。如您提供任何足以侵害他人或本網站或網站維運機構權益之資料，或為其他足以損害他人或本網站或網站維運機構之行為，我們可能會將您的帳號予以停權或刪除；且若任何人因您所提供之資料或您的行為而受任何損害，您將負擔完全之民、刑事或行政責任。&nbsp;
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
