@model projectWith中佑.Models.Member
@{
    ViewBag.Title = "passwoedSet";
}

<script>
        $(document).ready(function () {
            $("#passwordSet").modal();
        })
</script>
<div id="passwordSet" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="pull-right"><a href="/Home/member" id="newItem" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></span>

                    <h4 class="modal-title custom_align" id="Heading">密碼修改</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post" action="">
                        <fieldset>
                            <input id="memberId" name="memberId" type="hidden" value="@Model.memberId" >
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="phone">帳號:</label>
                                <div class="col-md-4" style="position:relative;top:6px">
                                    @Model.phone
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="memberPassword"><font color="red" style="position:relative; top:5px;font-weight:bold;font-size: 20px">*</font>舊密碼</label>
                                <div class="col-md-4">
                                    <input id="memberPassword" name="memberPassword" type="password" placeholder="請輸入舊密碼" class="form-control input-md"value="">

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="newMemberPassword"><font color="red" style="position:relative; top:5px;font-weight:bold;font-size: 20px">*</font>新密碼</label>
                                <div class="col-md-4">
                                    <input id="newMemberPassword1" name="newMemberPassword" type="password" placeholder="請輸入新密碼" class="form-control input-md">
                                    <span class="help-block" style="color:red">@Session["passwdNotRepeat"].ToString()</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="newMemberPassword2"><font color="red" style="position:relative; top:5px;font-weight:bold;font-size: 20px">*</font>新密碼</label>
                                <div class="col-md-4">
                                    <input id="newMemberPassword2" name="newMemberPassword2" type="password" placeholder="請重複輸入新密碼" class="form-control input-md" onblur="checkPass()">

                                </div>

                            </div>
                            <button type="submit" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> 更新</button><br />


                        </fieldset>
                    </form>
                    <a href="/Home/member">
                        <button class="btn btn-danger btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-remove"></span>取消</button>
                    </a>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
                    //畫面上片段密碼1和密碼2是否一樣填完資料會自動跳出警告畫面
    function checkPass() {

        var memberP1 = document.getElementById("newMemberPassword1").value;


        var memberP2 = document.getElementById("newMemberPassword2").value;

        if (memberP1 != memberP2) {

            alert("輸入密碼不同！");

            return false;

        }

        return true;

    }

</script>