
@{
    ViewBag.Title = "slotGame";
}
<div class="container glyphicon-align-center"style="min-height:750px">

    <div class="row" style="margin-bottom:20px">
        <div class="text-center fade-in-b " style="padding: 0px;color:#fa6767; height:500px;background-image:url(../../images/功夫龍拉霸機.jpg); background-size: cover;">
         
            <div class="text-center" style="position:relative;top:0px;height:500px;background:rgba(0,0,0,0.7);">
                <div style="position:relative;top:23px;left:30px">
                    <h1><b>功夫龍拉霸機</b> <a href="#"></a></h1>
                    <p style="font-size:large"><b>功夫龍是廣為人知的中國武術家，其著名的截拳道，更是李小龍獨創並廣為流傳的拳法</b></p>
                    <p style="font-size:large"><b>從不害怕更種挑戰，快來跟李小龍一起闖關拿獎金</b></p>
                    <br />
                 
                    <table style="border:3px #FFAC55 solid;padding:5px;position:relative;left:300px" rules="all" cellpadding='5'>
                        <tr><td colspan="2">遊戲方式</td><td colspan="3">遊戲規則</td></tr>
                      <tr> <th>遊戲功能</th> <th>本輪的下注金額。</th><th><img src="~/images/2條.gif" /></th><th>一條線中2張圖</th><th>本輪的下注金額。</th>  </tr>
                      <tr> <td>選擇押線</td> <td>玩家選擇押線，最多20條</td><th><img src="~/images/三條.gif" /></th><th>一條線中3張圖</th> <th>本輪的下注金額。</th>  </tr> 
                      <tr> <td>每線押注</td> <td>每條線的點數，最多20個點</td><th><img src="~/images/4條.gif" /></th><th>一條線中4張圖</th> <th>本輪的下注金額。</th>  </tr> 
                        <tr> <td>最大壓住</td> <td>完整投注最多20行，每行20點</td> <th><img src="~/images/5條.gif" /></th><th>一條線中5張圖</th> <th>本輪的下注金額。</th> </tr> 
                        <tr> <td>自動開始</td> <td>選擇押線與押注，遊戲將自動開始</td><th></th><th></th> <th></th> </tr> 
                    
                    </table>
                    <br />
                    <button class="btn btn-lg btn-success " onclick="javascript: location.href = '/Home/KungFuLong'" style="width:250px;margin-bottom:5px;font-size:xx-large"><b>開始遊戲</b></button><br />
                </div>
               
            </div>
   
        </div>
    </div>
</div>
