
@{
    ViewBag.Title = "storeMoney";
}

<div class="container-fluid"style="min-height:800px;position:relative;top:0px">

    <div class="row"style="margin-bottom:20px">
        <div class="text-center fade-in-b " style="padding: 0px;color: red; height:135px;background-image:url(../../images/Store海盜.JPG);margin-bottom:2px;margin-top:20px;">
            <div style="height:100px;position:relative;top:0px;height:136px;background:rgba(255,255,255,0.4);">
                <div style="position:relative;top:23px">
                    <h1><b>馬上儲值 -馬上玩 </b> <a href="#"></a></h1>
                    <p style="font-size:large"><b>熱門儲值活動. 熱門活動推薦,完全公開透明,遊戲樂趣超乎你的想像</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row "style="position:relative;left:9px">
        <div class="col-lg-3 col-sm-6">
            <a href="/Home/bankIn">
                <button type="button" class="btn btn-lg btn3d btn-default"style="width:265px">
                    儲值
                </button>
            </a>
        </div>

        <div class="col-lg-3  col-sm-6">
            <a href="/Home/convertProduct">
                <button type="button" class="btn btn-default btn-lg btn3d"style="width:265px">
                    禮物兌換
                </button>
            </a>
        </div>

        <div class="col-lg-3  col-sm-6">
            <a href="/Home/member">
                <button type="button" class="btn btn-default btn-lg btn3d"style="width:265px">
                    儲值紀錄
                </button>
            </a>
        </div>
        <div class="col-lg-3  col-sm-6">
            <a href="/Home/userKnow" target="_blank">
                <button type="button" class="btn btn-default btn-lg btn3d"style="width:265px">
                    使用須知
                </button>
            </a>
        </div>
    </div>

    
     <div class="container contentzz text-center">
            <div class="row">
                <!-- Pricing -->
                <div class="col-md-3">
                    <div class="pricing hover-effect" style="background-color:aliceblue">
                        <div class="pricing-head">
                            <h3>
                                優惠方案
                                <span>
                                    馬上儲值,現省20%
                                </span>
                            </h3>
                            <h4>
                                <i>$</i><i>600點</i>
                                <span>
                                    儲值:500 MyCard點數
                                </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                加碼20%
                            </li>
                            <li>
                                首次儲值再送:200點
                            </li>
                            <li>
                                其他附贈服務
                            </li>
                            <li>
                                端午節限定活動
                            </li>

                        </ul>
                        <div class="pricing-footer">
                            <p>
                                活動如有任何異動，本公司有權在任何時間修改、暫停或取消優惠活動
                            </p>
                            <a  class="btn yellow-crusta" id="storeBtn1">
                               購買
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing hover-effect" style="background-color:aliceblue">
                        <div class="pricing-head">
                            <h3>
                                優惠方案
                                <span>
                                    馬上儲值,現省20%
                                </span>
                            </h3>
                            <h4>
                                <i>$</i>1<i>,200點</i>
                                <span>
                                    儲值:1,000 MyCard點數
                                </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                加碼20%
                            </li>
                            <li>
                                首次儲值再送:300點
                            </li>
                            <li>
                                其他附贈服務
                            </li>
                            <li>
                                慶祝活動
                            </li>

                        </ul>
                        <div class="pricing-footer">
                            <p>
                                活動如有任何異動，本公司有權在任何時間修改、暫停或取消優惠活動
                            </p>
                            <a  class="btn yellow-crusta"id="storeBtn2">
                                購買
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing  hover-effect pricing-active" style="background-color:aliceblue">
                        <div class="pricing-head">
                            <h3>
                                優惠方案
                                <span>
                                    馬上儲值,現省25%
                                </span>
                            </h3>
                            <h4>
                                <i>$</i>6<i>,250點</i>
                                <span>
                                    儲值:5,000 MyCard點數
                                </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                加碼25%
                            </li>
                            <li>
                                首次儲值再送:400點
                            </li>
                            <li>
                                其他附贈服務
                            </li>
                            <li>
                                最優惠方案
                            </li>

                        </ul>
                        <div class="pricing-footer">
                            <p>
                                活動如有任何異動，本公司有權在任何時間修改、暫停或取消優惠活動
                            </p>
                            <a class="btn yellow-crusta"id="storeBtn3">
                                購買 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing hover-effect" style="background-color:aliceblue">
                        <div class="pricing-head">
                            <h3>
                                優惠方案
                                <span>
                                    馬上儲值,現省30%
                                </span>
                            </h3>
                            <h4>
                                <i>$</i>13,<i>000點</i>
                                <span>
                                    儲值:10,000 MyCard點數
                                </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                加碼30%
                            </li>
                            <li>
                                首次儲值再送:500點
                            </li>
                            <li>
                                其他附贈服務
                            </li>
                            <li>
                                現省最多優惠
                            </li>

                        </ul>
                        <div class="pricing-footer">
                            <p>
                                活動如有任何異動，本公司有權在任何時間修改、暫停或取消優惠活動
                            </p>
                            <a  class="btn yellow-crusta"id="storeBtn4">
                                購買
                            </a>
                        </div>
                    </div>
                </div>
                <!--//End Pricing -->
            </div>
        </div>
   
    <form method="post"class="hidden" >
        <button type="submit" value="1" id="hidStoreBtn1" name="hidStoreBtn">儲值紀錄</button>
        <button type="submit" value="2" id="hidStoreBtn2" name="hidStoreBtn">遊戲紀錄</button>
        <button type="submit" value="3" id="hidStoreBtn3" name="hidStoreBtn">遊戲紀錄</button>
        <button type="submit" value="4" id="hidStoreBtn4" name="hidStoreBtn">遊戲紀錄</button>
    </form>

    </div>




<script>
    $("#storeBtn1").click(function () {
        ($(document).ready(function () { $("#hidStoreBtn1").get(0).click(); }));

           });

    $("#storeBtn2").click(function () {

        ($(document).ready(function () { $("#hidStoreBtn2").get(0).click(); }));
    });

    $("#storeBtn3").click(function () {
        ($(document).ready(function () { $("#hidStoreBtn3").get(0).click(); }));
    });
    $("#storeBtn4").click(function () {
        ($(document).ready(function () { $("#hidStoreBtn4").get(0).click(); }));
    });
</script>


