
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userKnow</title>
</head>
<body>
    <div class="container"> 
        <h2 style="font-size:40px" align="center">使用者須知 </h2>
        <p>
            <strong>用戶行為指南</strong><br />
            用戶特此承諾：<br />
            （i）您已閱讀並同意遵守本使用條款、個人隱私政策以及出版商任何時候在網站上<br />
            公佈的通知和指南;<br />
            （ii）不得將任何服務或出版商的內容用於非法或違法的目的，並遵守所有法律和法規;<br />
            （iii）不得侵入、干擾破壞、禁用、使網站失去能力或以超出負荷的方式等方法來損害<br />
            本網站和服務的正常運作;<br />
            （iv）不得引進、傳播、電腦病毒或任何有能力干擾和對本網站、服務及其他用戶造成<br />
            損害的食物;和/或<br />
            （v）確保你提供給出版商的所有信息是真實，準確和完整。
        </p>
        <p>
            <strong>出版商的權利</strong><br />
            1，出版商保留在任何時間變更、修改、暫停或終止全部或部分服務或網站的權力。<br />
            出版商也有權力在未通知和無需承擔法律責任下限制您使用特定的功能或禁止您<br />
            訪問/使用部分或所有服務或網站。
        </p>
        <p>
            2，出版商可能會不時更改或修正這些使用條款，並在網站上張貼更新的使用條款。<br />
            在使用條款更新後使用任何我們的服務將被視為接受修訂後的使用條款。若您不<br />
            同意修訂後的使用條款，您可以停止使用本服務。
        </p>
        <p>
            <strong>知識產權</strong><br />
            1，你承認在網站、服務和所有出版商內容中的版權、專利、商標、註冊的設計和知識<br />
            產權，包括但不限於對所有用戶內容編輯的著作權，應當歸屬於出版商並由<br />
            出版商保持。
        </p>
        <p>
            2，所有出版商發佈的內容是出版商或作者或軟件供應商的版權內容，以及出版商保留<br />
            和保持出版商發佈的內容的所有權力。任何對出版商發佈的內容使用可以受用戶<br />
            許可協議中條款所管轄。
        </p>
        <p>
            3，因此，您承認並承諾不複製、修改、改編、翻譯、發佈、展示、交流、傳播、<br />
            廣播、播客、網絡廣播、分發、出售、交易或利用以下的所有或部分的服務/內容<br />
            在任何商業活動或其他用途：<br />
            （i）任何服務;<br />
            （ii）本網站;<br />
            （iii）任何出版商發佈的內容的;和/或<br />
            （iv）任何第三方用戶發佈的內容;<br />
            除非事先獲得相關知識產權所有人的書面同意。
        </p>
        <p>
            4，您也承諾不進行逆向編譯，逆向工程或其他方式來尋找在網站或服務中任何發佈<br />
            內容的源代碼，除非已事先獲得出版商的書面同意或法律明確允許在特定情況下<br />
            做出該行為。
        </p>
        <p>
            5，通過提交數據、照片、想法、建議、意見、文件、文章和/或建議書（“資訊”）給<br />
            出版商，您同意並承諾以下條款：<br />
            （a）該“資訊”不包含機密信息或版權信息;<br />
            （b）出版商有權在未另行通知您的情況下使用、處理或披露“資訊”以適用於任何<br />
            用途、任何方式、和在全球任何媒體;<br />
            （c）該“資訊”的知識產權將自動歸屬於出版商，並無需對您承擔任何義務和/或<br />
            （d）您無權在任何情況下要求出版商做出金錢賠償、賠償或補償（實物或其他<br />
            方式）。
        </p>
    </div>
</body>
</html>
